<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Dash Board</title>
</head>

<body>
    <b>Name: </b><%- namep %> 
    <br>
    <b>Email: </b><%- email %>
    <br>
    <b>GitHub:</b> <a href="<%- githubUrl %>" target="_blank"><%- githubUrl %></a>
    <br>
    <b>Programming Languages: </b> <%- languages %>
    <br>
    <b>People You may know: </b> <%- devs  %>
    <br>
    <b>Your Picture:</b><br>
    <img src="<%- image %>" width="150">
    <a href="/">Home</a>
</body>
</html>
