<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Dash Board</title>
</head>

<body>
    <b>Name: </b><%- namep %> 
    <br>
    <b>Email: </b><<%- email %>
    <br>
    <b>Programming Languages: </b> <%- languages %>
    <br>
    <b>People You may know: </b> <%- devs  %>
    <br>
    <b>Your Picture:</b>  <%- image  %>

</body>
</html>
